main h1 {
    width: 50%;
    font-size: 75px;
    display: inline-block;

    color: #670814;
    font-weight: 400;
    
    margin-left: 10px;
    
}

.fundo {
    width: 80%;
    position: absolute;
    
    top: 140px;
    right: 30px;
    

    /* border: 5px solid black;  */
}


.informacoes {
    width: 100%;
    height: 450px;
    background-color: #670814;
    color: white;

    padding: 50px;
    
}

.informacoes a {
    color: #670814;
}

.informacoes h2 {
    font-weight: 700;
    font-size: 50px;
}

.informacoes p {
    width: 70%;
    float: left;
    margin-top: 80px;
    padding-right: 20px;

    text-align: justify;
    
}

.informacoes img {
    width: 30%;
    vertical-align: middle;

    border-radius: 5px;
    opacity: 0.7;
    
}

.informacoes img:hover {
    opacity: 1;
}


.fundo-claro {
    background-color: #fdf1f1;
    color: #670814;
}

/* formulario */

form {
    width: 80%;
    height: auto;
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.247); 

    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;

}

form h3 {
    margin-top: 20px;
}

label {
    font-size: 12px;
    font-style: italic;

    margin-bottom: 50px;
    /* border: 5px solid black; */
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;  
    border: 1.5px solid rgba(0, 0, 0, 0.301);
}


input[type=text], input[type=email] {
    width: 80%;
}


input[type=submit]{
    width: 20%;
    position: absolute;
    right: 50px;

    padding: 10px;

    background-color: #670814;
    color: white;
    font-size: 12px;

    border-radius: 10px;
    border: none;
    
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.9;
}

/* mobile */

@media screen and (max-width: 600px) {
    main {
        height: 350px;
    }
    
    main h1 {
        width: 90%;
        padding-top: 20px;
        font-size: 40px;
    }

    .fundo {
        position: absolute;
        width: 95%;
        top: 200px;
    }

    .informacoes {
        padding: 30px; 
    }
    
    .informacoes h2 {
        font-size: 30px;
    }
    
    .informacoes p {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    .informacoes img {
        width: 100%;
        height: 200px;
        
    }


}