
main h1 {
    width: 50%;
    font-size: 75px;
    display: inline-block;

    color: #670814;
    font-weight: 400;
    
    margin-left: 10px;
    
}

.fundo {
    width: 70%;
    position: absolute;
    
    top: 140px;
    right: 10px;
    

    /* border: 5px solid black;  */
}
