* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.container-instrumentos {
    width: 90%;
    height: 500px;
    color: #670814;
    background-color: rgba(253, 204, 204, 0.829);
    

    top: 20px;
    position: relative;
    margin: auto;
    overflow: hidden;
} */

.container-instrumentos h1 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    width: 80%;
    height: 450px;
    position: relative;
    margin: auto;
    padding: 20px 100px;
    border: 1.5px solid rgba(0, 0, 0, 0.247); 

    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;

}

h2 {
    margin-top: 20px;
}

label {
    font-size: 18px;
    font-style: italic;

    margin-bottom: 50px;
    /* border: 5px solid black; */
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;  
    border: 1.5px solid rgba(0, 0, 0, 0.301);
}

input[type=checkbox]{
    margin: 20px;
    
}

input[type=text], input[type=email] {
    width: 50%;
}


input[type=submit]{
    width: 20%;
    position: absolute;
    right: 50px;

    padding: 20px;

    background-color: #670814;
    color: white;
    font-size: 18px;

    border-radius: 10px;
    border: none;
    
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.9;
}


