* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 570px;
    position: relative;
    
    color: #670814;
    overflow: hidden;
    z-index: 0;
    /* border: 5px solid black;   */
}

.img-fundo-trasparente {
    position: absolute;
    right: 0;
    opacity: 0.1;

    z-index: -10;
}

@media screen and (max-width: 600px) {
    
}