* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
}

.menu{
    width: 100%;
    height: 40%;
    float: left;

    position: relative;
    background-color: #faeded;
    
}

.menu img {
    width: 20%;
    
    
}

.menu nav ul {
    width: 80%;
    list-style-type: none;
    position: absolute;

    top: 0;
    right: 0;
}

.menu nav ul li {
    display: inline;
    
    float: right;

    overflow: hidden;
}

.menu ul li a {
    display: inline-block;
    color: #670814;
    font-weight: 700;
    
   
    padding: 30px 100px 30px 0;
    padding-left: 50px;
    text-decoration: none;  
}

/*main*/
main {
    width: 100%;
}

main h1 {
    width: 50%;
    font-size: 80px;

    color: #670814;
    font-weight: 400;
}

main img {
    width: 90%;

    position: fixed;

    bottom: 0;
    right: 0;

}

footer{
    background-color: #670814;
    color: #ffffff;
    width: 100%;
    padding: 10px;

    text-align: center;
    font-style: italic;

    position: fixed;
    bottom: 0;
}