* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fdf1f1;
}

.menu{
    width: 100%;

    position: relative;
    margin: 0;   
}

.menu img {
    width: 20%;   
    padding-top: 10px;
}

.menu nav ul {
    width: 60%;
    list-style-type: none;
    position: fixed;

    top: 5px;
    right: 0;

    margin-right: 0;
}

.menu nav ul li {
    display: inline;
    margin-left: 30px;
}

.menu ul li a {
    width: 20%;
    display: inline-block;
    color: #670814;
    font-weight: 700;
    
    padding: 10px;
    
    text-decoration: none;  

    border-bottom: solid #670814 2px ;
}

.img-fundo-trasparente {
    position: fixed;
    bottom: 0;
    right: 0;

    margin-right: 20px;

    opacity: 0.3;
}

footer{
    background-color: #670814;
    color: #ffffff;
    width: 100%;
    padding: 5px;

    text-align: center;
    font-style: italic;

    position: fixed;
    bottom: 0;
}